<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo Metropolitano</title>
    <link(rel="stylesheet", href="../public/styles/index.css")>
</head>
<body>

    <div>
        <form action='/search' method="GET" >
            <label for = "q">Titulo</label>
            <input type = "text" name = "q"></input>

            <label for = "departmentId">Departamento</label>
            <select name = "departmentId">
                <option value="">Todos los departamentos</option>

                <% departments.departments.forEach(department => { %>
                    <option value= <%= department.departmentId %>> <%= department.displayName %></option>
                <% }) %>

            </select>

            <label for = "geoLocation">Ubicacion</label>
            <input type = "text" name = "geoLocation"></input>

            <button type="submit">buscar</button>
        </form>

        </div>

        
        <h1>Resultados de Búsqueda</h1>

        <div>

        <% if (results && results.length > 0) { %>
            <ul>
                <% results.forEach(object => { %>
                    <li>
                        <strong>Obra ID:</strong> <%= object.objectID %><br>
                        <strong>Título:</strong> <%= object.title %><br>
                        
                        <% if (object.primaryImage && object.primaryImage.trim() !== '') { %>
                            <strong>Imagen Principal:</strong> 
                            <img src="<%= object.primaryImage %>" alt="<%= object.title %>" style="max-width: 200px;"><br>
                        <% } else { %>
                            <strong>Imagen Principal:</strong> <img src="../public/img/NoDispo.jpg" alt="Imagen no Disponible" style="max-width: 200px;"> <br>
                        <% } %>
                        
                        <strong>Cultura:</strong> <%= object.culture ? object.culture : 'No disponible' %><br>
                        <strong>Dinastía:</strong> <%= object.dynasty ? object.dynasty : 'No disponible' %><br>
                        <strong>Fecha de la Obra:</strong> <%= object.objectDate ? object.objectDate : 'No disponible' %><br>
                        <% if(object.additionalImages && object.additionalImages.length > 0){ %>
                            <button><a href="./details.ejs">Ver más</a></button>
                        <%  } %>
                    </li>
                    <hr>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No se encontraron resultados.</p>
        <% } %>

    </div>

    <% if(results){ %>
    <div class="pagination">

        <a href="<%= baseUrl %>&page=0" class="first-page"><<</a>
    
        <% if (currentPage > 0) { %>
            <a href="<%= baseUrl %>&page=<%= currentPage - 1 %>"><</a>
        <% } %>
      
      <% for (let i = startPage; i <= endPage; i++) { %>
        <a href="<%= baseUrl %>&page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
          <%= i %>
        </a>
      <% } %>
        
        <% if (currentPage < (totalPages - 1)) { %>
            <a href="<%= baseUrl %>&page=<%= currentPage + 1 %>">></a>
        <% } %>

        <a href="<%= baseUrl %>&page=<%= totalPages - 1%>" class="last-page">>></a>
    </div>

    <% } %>


</body>
</html>